* {
	margin: 0px; 
	padding: 0px; 
    box-sizing: border-box;
    line-height: 1.7;
}

body {
    background: url(https://res.cloudinary.com/ce0la/image/upload/v1568617576/Landing_1_gdb1zg.png);
    background-position: center;
    opacity: 0.4; 
}


h1 {
    color: rgb(163, 29, 163);
}

p, a {
   font-size: 0.875em; /* 14px */
   text-decoration: none;
}

a:hover {
    font-weight: bold;
    
}

label {
    font-weight: bold;
}

.login {
    /*width: 60%;*/
    max-width: 60%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 1.25em 2.5em;
    margin: 12.5em auto;
    text-align: center;
}

input {
    margin-bottom: 1.25em; /* 20px */
    width: 80%;
    padding: 0.625em; /* 10px */
    border: 2px solid black;
    border-radius: 0.625em; /* 10px */
    /*border-bottom: 1px solid #ddcfcf;*/
}

button {
    border: 2px solid black;
    border-radius:  0.625em;
    padding:  0.625em;
    margin:   0.625em auto;
    width: 25%;
    font-size: 1.25em;
    background: white;
}

button:hover {
    cursor: pointer;
}

.message {
    color: #b3b3b3;
}

/* @Oluscc added media queries for responsiveness on mobile devices*/

@media all and (max-device-width: 480px) {
    /* Your CSS rules for your mobile phones here */

    .login {
        /*width: 60%;*/
        max-width: 90%;
        height: 100%;
        background: #fff;
        border-radius: 5px;
        padding: 0.625em 1.25em;
        margin: 30% auto;
        text-align: center;
    }

    input {
        margin-bottom: 1.25em; /* 20px */
        width: 80%;
        padding: 0.625em; /* 10px */
        border: 1px solid black;
        border-radius: 0.625em; /* 10px */
        /*border-bottom: 1px solid #ddcfcf;*/
    }

    button {
        border: 1px solid black;
        border-radius:  5px;
        padding:  0.625em;
        margin:   0.625em auto;
        width: 45%;
        font-size: 0.8em;
        background: white;
    }
}